<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.report.mapper.BannerRuleMapper">
    <select id="findDistinctByTotalName"  resultType="com.miguan.report.entity.BannerRule">
        SELECT * from banner_rule where jt = 1
    </select>
</mapper>