<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.bigdata.mapper.VideoLeaderboardMapper">
    
    <insert id="insertBatch" parameterType="java.util.List">
        insert into view_leaderboard (dd, dh, type, video_id, number)
        <foreach collection="dataList" item="data" separator="," open="values " close="">
            (#{data.dd}, #{data.dh}, #{data.type}, #{data.video_id},#{data.number})
        </foreach>
    </insert>

    <delete id="deleteData" parameterType="java.util.Map">
        delete from view_leaderboard
        <where>
            <if test="dd != null">dd = #{dd}</if>
            <if test="dh != null">and dh = #{dh}</if>
            <if test="type != null">and type = #{type}</if>
        </where>
    </delete>

    <select id="findViewLeaderboard" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT video_id, number as number_of_views from view_leaderboard
        where type = #{type}
        <if test="dd != null">and dd =#{dd}</if>
        <if test="dh != null">and dh =#{dh}</if>
        ORDER BY number desc
        limit 200
    </select>
    
    <select id="findViewNumberByVideoId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT video_id, number FROM view_leaderboard
        <where>
            <if test="dd != null">dd =#{dd}</if>
            <if test="dh != null">and dh =#{dh}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="videoId != null">and video_id = #{videoId}</if>
        </where>
    </select>

    <select id="findDistinctVideoidsFromOneDay" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT video_id FROM view_leaderboard
        <where>
            <if test="type != null">type &gt;= #{type}</if>
            <if test="date != null and date != ''">and dd &gt;= #{date}</if>
        </where>
    </select>
</mapper>