<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.ballvideo.mapper.HotWordVideoMapper">

    <select id="queryHotWordVideoList" parameterType="java.util.Map" resultType="com.miguan.ballvideo.vo.video.HotWordVideoVo">
        select h.video_id,h.sort,w.video_sort from hot_word_video h
        left join hot_word w on w.id = h.hot_word_id
        where h.hot_word_id = #{hotWordId}
        order by h.sort
    </select>

</mapper>
