<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.ballvideo.mapper.VideoPopConfigMapper">
    <!-- 通过条件查询视频弹窗配置列表 -->
    <select id="queryPopConfigList" resultType="com.miguan.ballvideo.vo.VideoPopConfigVo" parameterType="java.util.HashMap">
        SELECT pop_type,progress1,progress2,img_url,jump_type,jump_link
        FROM video_pop_config
        WHERE state = 1
        <if test="appPackage != null and appPackage != ''">
            AND app_package = #{appPackage}
        </if>
        <if test="appVersion != null and appVersion != ''">
            AND
            concat(lpad( SUBSTRING_INDEX(#{appVersion}, '.', 1 ), 3, '0' ),
            lpad( SUBSTRING_INDEX( SUBSTRING_INDEX(#{appVersion}, '.',- 2 ), '.', 1 ), 3, '0' ),
            lpad( SUBSTRING_INDEX( #{appVersion}, '.',- 1 ), 3, '0' ))
            BETWEEN
            concat(lpad(SUBSTRING_INDEX(version1,'.',1), 3, '0'),
            lpad(SUBSTRING_INDEX(SUBSTRING_INDEX(version1,'.',-2),'.',1), 3, '0'),
            lpad(SUBSTRING_INDEX(version1,'.',-1), 3, '0'))
            AND
            concat(lpad(SUBSTRING_INDEX(version2,'.',1), 3, '0'),
            lpad(SUBSTRING_INDEX(SUBSTRING_INDEX(version2,'.',-2),'.',1), 3, '0'),
            lpad(SUBSTRING_INDEX(version2,'.',-1), 3, '0'))
        </if>
    </select>

</mapper>