<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miguan.advert.domain.mapper.AdMaterialMapper" >

    <select id="findNameByKey" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT m_name material_name
        from ad_material
        where m_key = #{value} limit 1
    </select>

</mapper>