<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.xuanyuan.mapper.MofangMapper">

    <select id="countVersion" parameterType="map" resultType="int">
        select count(1) from shield_version sv
        inner join app_version_set v on v.id = sv.version_id
        inner join channel_group g on g.s_id  = v.s_id AND sv.group_id = g.id
        inner join shield_set ss on sv.shield_id = ss.id
        where 1=1
        <if test="appVersion != null">
          and v.app_version = #{appVersion}
        </if>
        <if test="appPackage != null">
          and g.app_type = #{appPackage}
        </if>
        <if test="positionType != null">
            and ss.para_num = #{positionType}
        </if>
        <if test="tagType != null">
            and g.tag_type = #{tagType}
        </if>
        and type = 1
    </select>

    <select id="countChannel" parameterType="map" resultType="int">
        select count(1) from shield_channel sc
        inner join channel_group g on g.id = sc.group_id
        inner join shield_set ss on sc.shield_id = ss.id
        inner join shield_version sv on sv.id = sc.v_id
        inner join app_version_set v on v.id = sv.version_id
        inner join agent_users aus on aus.channel_id = sc.channel_id
        where 1=1
        <if test="appVersion != null">
          and v.app_version = #{appVersion}
        </if>
        <if test="appPackage != null">
          and g.app_type = #{appPackage}
        </if>
        <if test="positionType != null">
            and ss.para_num = #{positionType}
        </if>
        <if test="tagType != null">
            and g.tag_type = #{tagType}
        </if>
        <if test="channelId != null">
            and sc.channel_id = #{channelId}
        </if>
    </select>

    <select id="findGroupByPackage" parameterType="string" resultType="java.lang.Long">
        select id from channel_group g
        where app_type = #{value}
    </select>

    <resultMap id="AgentUsersBaseMap" type="com.miguan.xuanyuan.vo.AgentUsersVo" >
        <id property="id" column="id" />
        <result property="key" column="channel_id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="findAgentUserByGroup" parameterType="map" resultMap="AgentUsersBaseMap">
        select id,channel_id,name as name
            from agent_users au
        where group_id in
        <foreach collection ="groupIds" item="groupId" separator ="," open="(" close=")">
            #{groupId}
        </foreach >
    </select>

    <resultMap id="VersionBaseMap" type="com.miguan.xuanyuan.vo.VersionVo" >
        <result property="appVersion" column="app_version" />
    </resultMap>

    <select id="getVersionList" parameterType="map" resultMap="VersionBaseMap">
        select app_version  from app_version_set av
        inner join channel_group g on g.id = av.group_id
        where g.app_type = #{appPackage} and av.status = 0 order by app_version desc
    </select>

    <select id="findChannelInfoByKeys" parameterType="map" resultType="com.miguan.xuanyuan.dto.ab.ChannelInfoVo">
        SELECT name as channelName,channel_id as channelId  FROM  agent_users where channel_id in
        <foreach collection="list" item="channelId" separator ="," open="(" close=")">
            #{channelId}
        </foreach >
    </select>

    <select id="searchAppId" parameterType="map" resultType="java.lang.Integer">
        select ab_app_id from channel_group
        where status=1
        <if test="appType != null">
            and app_type=#{appType}
        </if>
    </select>

</mapper>