<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.xuanyuan.mapper.XyPlatAccountMapper">


    <resultMap id="BaseResultMap" type="com.miguan.xuanyuan.entity.XyPlatAccount" >
        <id property="id" column="id" />
        <result property="user_id" column="code_name"/>
        <result property="positionId" column="position_id" />
        <result property="plat_id" column="source_plat_key" />
        <result property="account_name" column="source_plat_account_id" />
        <result property="open_reportapi" column="source_app_id" />
        <result property="app_id" column="source_code_id" />
        <result property="app_secret" column="render_type" />
        <result property="isDel" column="is_del" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="findAccountList" parameterType="map" resultType="com.miguan.xuanyuan.dto.PlatAccountListDto">
        SELECT a.id,u.username,p.plat_name,account_name,open_reportapi
        FROM xy_plat_account a, xy_user u, xy_plat p
        WHERE a.user_id = u.id
        and a.plat_id = p.id
        <if test="username != null and username != ''">
            and u.username like concat('%',#{username},'%')
        </if>
        <if test="userId != null">
            and a.user_id = #{userId}
        </if>
        ORDER BY id
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM xy_plat_account WHERE id =#{id} LIMIT 1
    </select>

    <select id="getDataById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM xy_plat_account WHERE id =#{id} and is_del = 0 LIMIT 1
    </select>

    <select id="getUserPlatAccountList"  resultMap="BaseResultMap" parameterType="map">
        select *
        from xy_plat_account
        where user_id=#{userId} and is_del=0
    </select>

    <insert id="insertDefaultPlatAccount" parameterType="int">
        insert into xy_plat_account(user_id, plat_id, account_name)
        select #{userId}, id, '默认账号'
        from xy_plat where plat_key in ('kuai_shou','guang_dian_tong','chuan_shan_jia')
    </insert>

    <select id="findDefaultPlatAccount"  resultMap="BaseResultMap" parameterType="int">
        select #{userId} user_id, id plat_id, '默认账号' as account_name
        from xy_plat where plat_key in ('kuai_shou','guang_dian_tong','chuan_shan_jia')
    </select>

</mapper>