<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miguan.recommend.mapper.DwVideoActionMapper">
    <select id="findSimilarCatid" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			catid ,	count(DISTINCT distinct_id) as t
		from
			dw_video_actions
		where
			play_over = 1
			and dd = #{date}
			and distinct_id in (
			SELECT
				DISTINCT distinct_id
			from
				dw_video_actions
			where
				play_over = 1
				and catid = #{catid}
				and dd = #{date})
		GROUP by catid
		ORDER by t desc
    </select>

</mapper> 
