<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.recommend.mapper.VideosCatMapper">

    <select id="getCatIdsByStateAndType" resultType="java.lang.String">
        SELECT id FROM videos_cat
        <where>
            <if test="state != null">
                state = #{state}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>
</mapper>