<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.flow.mapper.DemoMapper">

   <select id="listDeom" resultType="com.miguan.flow.dto.DemoDto">
       select * from ad_advert_position limit 10
   </select>
</mapper>